body{
    background-color: steelblue;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.6; */
    color: white;
    font-style: initial;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: initial;

    background: rgb(200, 200, 200); /* Fallback color */
    background: rgba(200, 200, 200, 0.5);
    padding: 50px;
    position: relative;
    margin-left: 500px;
    margin-right: 500px;

}

.container h1{
    text-shadow: 2px 2px darkred;
}

#switch{
    padding: 12px 42px;
    font-size: 1.45em;
    border-radius: 12px;
    background: white;
    color: #171717;
    transform: translateY(-6px);

}


#counter{
    padding: 50px;
    background-color: revert;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: "Cascadia Code";
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5)

}


.optionContainer{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;


}

.optionContainer input{
    font-size: 1em;
    background: none;
    border: none;
    width: 100px;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #171717;

}


.optionContainer button{
    font-size: 20px;
}