body{
    background-color: steelblue;
    text-align: center;
    background-size: cover;
    color: white;
    font-style: initial;
    font-weight: bold;
    position: center;

}

h1{
    text-shadow: 2px 2px darkred;
}

#switch{
    padding: 12px 42px;
    font-size: 1.45em;
    border-radius: 12px;
    background: white;
    color: #171717;
    transform: translateY(-6px);
}


#counter, #mincounter, #distributor{
    width: 30px;
    height: 30px;
    background-color: revert;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: "Cascadia Code";
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);

}
.optionContainer{
    font-size: 20px;
    display: block ;
    float: left;
}

 input{
    font-size: 1em;
    background: none;
    border: none;
    width: 100px;
    border-bottom: 2px solid white;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #171717;
}

.optionContainer button{
    font-size: 20px;
}

.container{

    background-color: revert;
    font-size: 30px;
    margin-bottom: 50px;
    background-color: rgb(400, 400, 400); /* Fallback color */
    background-color: rgba(400, 400, 400, 0.5);
}

/* float i position */